---
import Layout from '@layouts/Layout.astro';
import CommonPage from '@components/commonPage/commonPage';
import {
  getTitleContentsByCategory,
  //! getCategoryInfo can not be changed by client side
  getCategoryInfo,
} from '@assets/js/titleContents';

const env: ImportMetaEnv = import.meta.env;
console.log('🚀 ~ file: index.astro:8 ~ apiUrl:', env.VITE_SERVER_URL);

const { category } = Astro.params;
const apiUrl = env.VITE_SERVER_URL;
const payload = {
  categoryName: category,
  page: 1,
  apiUrl: apiUrl,
};
const { data: categoryItems } = await getTitleContentsByCategory(payload);
const categoryInfo = await getCategoryInfo(payload);
export function getStaticPaths() {
  const navItems = ['lottery', 'sports', 'poker', 'matka', 'casino'];
  return navItems.map((item) => [
    {
      params: {
        category: item,
      },
    },
  ]);
}

const title = categoryInfo.headTitle
  ? categoryInfo.headTitle
  : categoryInfo.name;
const description = categoryInfo.headDescription;
const keywords = categoryInfo.headKeyword;
console.log('🚀 ~ file: [category].astro:16 ~ category:', category);
console.log('🚀 ~ file: [category].astro:16 ~ categoryItems:', categoryItems);
---

<Layout
  title={title}
  description={description}
  keywords={keywords}
  path={`/c/${category}`}
>
  <!-- <h1>{category}</h1> -->
  <CommonPage
    client:load
    paramName={category}
    data={categoryItems}
    apiUrl={apiUrl}
  />
  <!-- client:only='react' -->
</Layout>
