---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@assets/css/bootstrap.min.css';

export interface Props {
	title: string;
	description: string;
	keywords: string;
	image?: string;
}
const env: ImportMetaEnv = import.meta.env;

console.log("🚀 ~ file: BaseHead.astro:13 ~ Astro.url.pathname:", Astro.url.pathname)
console.log("🚀 ~ file: BaseHead.astro:14 ~ Astro.site:", Astro.site)
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, keywords,image = '/placeholder-social.jpg' } = Astro.props;

let headTitle = title,
headDescription = description,
headKeywords = keywords
if (env.DEV === true) {
	headTitle= `DEV_${title}_DEV`
	headDescription = `DEV_${description}_DEV`
	headKeywords = `DEV_${keywords}_DEV`	
}
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<!-- <link rel="canonical" href={canonicalURL} /> -->

<!-- Primary Meta Tags -->
<title>{headTitle}</title>
<meta name="title" content={headTitle} />
<meta name="description" content={headDescription} />
<meta name="keywords" content={headKeywords} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={headTitle} />
<meta property="og:description" content={headDescription} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={headTitle} />
<meta property="twitter:description" content={headDescription} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
